

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
  background: #060606;
  color: #ffffff;
}
.actions {
  min-width: 200px;
}
table th {
  color: #a0a0a0;
}
table td {
  color: #ffffff;
}

